<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #notesForm="ngForm">
            <div class="form-group">
                <label for="Notes">Notes</label>
                <input type="text" [(ngModel)]="notes.notes"
                       class="form-control"
                       id="Notes"
                       name="Notes"
                       placeholder="Enter your Notes"
                       required #id="ngModel">
                <div [hidden]="!id.pristine" class="alert alert-danger">Notes is required</div>
            </div>

            <button type="submit" [disabled]="!notesForm.form.valid"
                    class="btn btn-info">Submit</button>
        </form>
    </div>
</div>
